body {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");

  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");

  font-weight: 700;
  font-style: normal;
}

.main-header {
	background-color: #eeeeee;
}

.main-promo {
	background-color: #eeeeee;
}

.white-button {
	height: 50px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
	vertical-align: middle;
	text-align: center;
	border: none;
}

.red-button {
	background-color: #fb565a;
}

.green-button {
	background-color: #00ca74;
}

.yellow-button {
	background-color: #efc84a;
}

.site-navigation {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
	list-style: none;
}

.user-navigation {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
	list-style: none;
}

a.selected {
	border-bottom: 2px solid #fb565a;
	pointer-events: none;
}

.nav-current a:link, 
.nav-current a:visited {
	color: #000000;
}

.nav-current a:hover {
	color: #fb565a;
}

.nav-naimed a:hover {
	color: #fb565a;
}

.nav-current a:active {
	color: #b3b3b3;
}

.nav-naimed a:active {
	color: #b3b3b3;
}

.hover-naimed a:link,
.hover-naimed a:visited {
	color: #000000;
}

.hover-naimed a:hover {
	color: #fb565a;
}

.hover-naimed a:active {
	color: #b3b3b3;
}



.catalog-heading {
	font-size: 55px;
	font-weight: 500;
	color: #000000;
}

.catalog-list {
	list-style: none;
}

.main-promo span {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	color: #000000;
}

.main-promo p {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #283136;
}

.trade-offer ul {
	list-style: none;
}

.trade-offer h3 {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
}

.trade-offer p {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #283136;
}

.headline-description {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	color: #000000;
}

.main-description p {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #283136;
}

.list-description {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: #000000;
}

.main-description-list {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #283136;
	list-style: none;
}

.red-description {
	color: #fb565a;
}

.statistics span {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	line-height:  24px;
}

.reasons span {
	font-size: 45px;
	font-weight: bold;
	color: #000000;
}

.reasons p {
	font-size: 16px;
	font-weight: normal;
	line-height:  18px;
	color: #283136;
}

.radio-txt {
	color: #283136;
}

.sorting-list {
	list-style: none;
	font-size: 14px;
	text-transform: uppercase;
}

.sorting-txt a:link,
.sorting-txt a:visited, {
	color: #b3b3b3;
}

.sorting-list a:link,
.sorting-list a:visited, {
	color: #b3b3b3;
}

.sorting-list a:hover {
	color: #666666;
}

.sorting-list a:active {
	color: #000000;
}

.radio-on {
	
}

.check-off {
	background-image: url(img/svg/checkbox-off.svg);
}

.catalog-pagination {
	list-style: none;
	font-size:  16px;
	text-transform: uppercase;
}

.catalog-pagination a:link,
.catalog-pagination a:visited {
	color: #000000;
}

.catalog-pagination a:active {
	color: #b3b3b3;
}



.partners-list {
	list-style: none;
}

.main-map {
	background-color: #eeeeee;
}

.address {
	background-color: #fff;
}

.write-us {
	font-size: 45px;
	font-weight: 500;
	color: #000000;
}

.shipping-form {
	font-size: 16px;
	font-weight: 700;
}

.form-name {
	font-size: 16px;
	font-weight: 700;
}

.form-email {
	font-size: 16px;
	font-weight: 700;
}

.form-txt {
	font-size: 16px;
	font-weight: 700;
}

.main-footer-list {
	list-style: none;
}

.footer-friends {
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}

.footer-text {
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	color: #444444;
}












